
.mf_diagram_controlNodeContent {
    box-shadow: rgba(0, 52, 102, 0.35) 4px 4px 4px;
    text-align: center;
    /* border: 1px solid #648dae;
    background-color: #90caf9 !important; */

    /* border: 1px solid #648dae; */
    background-color: #eecda1 !important;

    display: block;
    margin-left:auto;
    margin-right:auto;
    /* width: 15em; */
    /* left: 289.795px !important;
    width: 375.26px !important; */
    /* border: 5px solid #eecda1; */
    border-radius: 25px;
    overflow: auto;
}

.mf_diagram_controlNodesContainer {
    width: 3080px !important; 
    height: 3080px !important;
}

#diagram {
    border-radius: 25px;
}

#d1 {
    overflow-x: auto;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    /* padding-bottom: 25px; */
    height: 50px;
}

body {
    font-family: Tahoma;
    font-size: 14px;
}

table {
    border-spacing: 0px;
    margin-left: 10px;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 12px;
}

select {
    font-family: Tahoma;
    font-size: 14px;
}

td {
    border-left: 1px solid gray;
    padding: 5px;
    border-bottom: 1px solid gray;
}

a {
    word-break:break-all;
}

#result p {
    word-break:break-all;
}

/* .searchbox {
    background-color: lightgrey;
    width: 40px;
    height: 30px;
    border: 15px solid #90caf9;
    padding: 50px;
    margin: 20px;
    overflow: auto;
} */

#mydiv {
    position: absolute;
    z-index: 9;
    width: 200px;
    height: 100px;
    top: 25px; 
    right: 215px;
    background-color: rgb(230, 229, 229);
    /* border: 15px solid #90caf9; */
    border: 15px solid #eecda1;
    padding: 50px;
    overflow: auto;
    border-radius: 25px;
    /* 
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center; */
}

#mydivheader {
    cursor: move;
    z-index: 10;
    /* padding: 10px;
    z-index: 10;
    background-color: #2196F3;
    color: #fff; */
}

/* #searchInput {
    z-index: 1000;
} */

