
.mf_diagram_controlNodeContent {
    box-shadow: rgba(0, 52, 102, 0.35) 4px 4px 4px;
    text-align: center;
    border: 1px solid #648dae;
    background-color: #90caf9 !important;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 8em;
}

/* #d1 {
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    padding-bottom: 25px;
    height: 100px;
} */

body {
    font-family: Tahoma;
    font-size: 14px;
}

table {
    border-spacing: 0px;
    margin-left: 10px;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 12px;
}

select {
    font-family: Tahoma;
    font-size: 14px;
}

td {
    border-left: 1px solid gray;
    padding: 5px;
    border-bottom: 1px solid gray;
}

a {
    word-break:break-all;
}

#result p {
    word-break:break-all;
}
